/* :root {
  --mainDark: #0c1e41;
  --mainHover: #f9f7f6;
  --mainLight: #bfada3;
  --shadowColor: #dcd2cc;
}

* {
  margin: 0;
  padding: 0;
} */

/* html {
  background: url(hämta bild till projekt om denna url ska fungera);
  background-size: cover; 
} */
/* font-family: 'Ubuntu', sans-serif; */

/* .App {
  display: block;
}

.App p {
  text-align: center;
} */

/* body div.Weather {
  color: red;
  display: flex;
  align-items: center;
} */

/* body {
  margin: 0; */
/* display: flex;
  justify-content: center; */
/* } */
/* body .Weather {
  text-align: center;
} */

/* #root div {
  margin: 0;
  padding: 0;
} */
/* body div.Weather {
  display: flex;
  align-items: center;
} */
